@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", sans-serif; /* 가독성 좋은 폰트 적용 */
  margin-bottom: 16px;
}
