.cardContainer {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 600px;
    min-height: 40vh; /* 모바일 기준 한 화면에 두 개 보이도록 조정 */
    cursor: pointer;
}

@media (max-width: 768px) {
    .cardContainer {
        max-width: 90vw; /* 모바일에서는 화면 폭의 90% 차지 */
        min-height: 45vh; /* 모바일 화면에서 두 개 보이도록 조정 */
    }
}

.cardContent {
    font-family: "Pretendard", sans-serif !important;
    font-weight: 600;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6); /* ✅ 텍스트 가독성을 위해 반투명 배경 추가 */
    color: white; /* ✅ 텍스트 색상을 흰색으로 변경 */
    padding: 12px 0;
    border-radius: 0 0 12px 12px;
  }

.cardContent h3, .cardContent p {
  margin: 1px 0;
}

.cardContainer:hover {
    transform: scale(1.05); /* 확대될 때 아래로 이동하여 상단과 겹치지 않도록 조정 */
}

.cardContainer:active {
    transform: scale(0.98); /* 살짝 눌리는 느낌 */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}